<div class="grid-container">
  <table class="grid-table">
    <thead>
      @for (column of columns(); track column.property()) {
        <th
          [class.sortable-column-header]="isColumnSortable(column)"
          (click)="onSort(column)"
        >
          <span class="header-content">
            <span>{{ column.name() }}</span>

            @if (isColumnSortable(column)) {
              @switch (getColumnSortDirection(column)) {
                @case (SORT_DIRECTION.ASC) {
                  <span class="icon ascending-icon"></span>
                }
                @case (SORT_DIRECTION.DESC) {
                  <span class="icon descending-icon"></span>
                }
                @default {
                  <span class="icon sort-icon"></span>
                }
              }
            }
          </span>
        </th>
      }
    </thead>

    @if (gridData().length) {
      <tbody>
        @for (row of paginatedGridData(); track $index) {
          <tr>
            @for (column of columns(); track column.property()) {
              <td>{{ getCellData(row, column) }}</td>
            }
          </tr>
        }
      </tbody>
    } @else {
      <tbody class="grid-empty-body">
        <tr>
          <td class="grid-empty-cell" [attr.colspan]="columns().length">
            No data available
          </td>
        </tr>
      </tbody>
    }

    @if (gridData().length) {
      <tfoot>
        <tr>
          <td [attr.colspan]="columns().length">
            <t-paginator
              [totalItems]="gridData().length"
              [pageSize]="pageSize()"
              [pageSizeOptions]="pageSizeOptions()"
              (paginationChange)="onPaginationChange($event)"
            ></t-paginator>
          </td>
        </tr>
      </tfoot>
    }
  </table>
</div>
